table {
    border-collapse: collapse;
    border: 2px black solid;
    font-size: 1.3em;
    text-align: center;
    font-family: 'Ubuntu' , sans-serif;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.6);
}
thead, tr, th{
    padding: 5px;
    border: 1px solid black;
}
td {
    border: 1px #a3a39d solid;
    padding: 5px;
}
tbody tr {
    background-color: #e7ffed;
}
/* this makes every other row gray */
tbody tr:nth-of-type(even) {
    background-color: #e7f0ed;
}
h3 {
    margin-top: 200px;
    margin-left: 50px;
}
thead, tfoot {
    background-color: #7fb9c2;
}
tfoot {
    font-size: .6em;
}
.dark {
    background-color: #628ca6;
    color: #ffffff;
}