

#profile {
  float: right;
  height: 130px;
  top: -90px;
  right: 10px;
  border: 2px black solid;
  border-radius: 5px;
  position: relative;
}
#content{
}

body{
    max-width: 30%;
}

#myname{
    font-size: x-large;
    text-align: justify;
    background-color: darkgoldenrod;
    padding: 10px;
    border-radius: 20px;
}
footer {
    background-color: darkgoldenrod;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}
p {
    font-family: 'Ibarra Real Nova', serif;
}